body {
  margin-top: 120px;
  height: 100%;
  z-index: 1;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

/* font section */

p {
  font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";';
  font-size: 20px;
  color: rgba(46, 49, 49, 1);
}

/* end region */

.grid-page-container, .grid-page-container-mid-page {
  max-width: 1440px;
}

.container-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  padding: 0;

}

.container-image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(102, 141, 183, 0.5);
  padding: 10px;
  color: #ffffff;
  position: absolute;
  text-align: center;
}

.container-title-text {
  text-align: center;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Lobster Two';
  font-style: italic;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  color: rgba(0, 00, 00, 1);
  
}

.container-inner-text {
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  font-family:'-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";';
}

.container-buttons {
  padding-top: 50px;
  text-align: center;
}

.container-buttons .btn-secondary {
  background-color: rgba(102, 141, 183, 0.8);
}

.container-buttons .btn-secondary:hover {
  background-color: rgba(102, 141, 183, 1);
}

.container-page-text {
  height: 100%;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: rgba(102, 141, 183, 0.2);
}

.container-page-text-mid-page {
  height: 100%;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: rgba(102, 141, 183, 0.2);
  border: solid 1px rgba(46, 49, 49, 0.2);
}

.center-paragraph {
  font-size: 30px;
  text-align: center;
}

.container-page-table {
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.table-bordered {
  background-color: #ffffff;
  padding: 30px;
  font-size: 18px;
  font-family:'-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";';

}

.table-bordered thead {
  color: rgba(102, 141, 183, 1);
  font-size: 25px;
  text-align: center;
}
.table-bordered tr {
  Padding-left: 20px;
  padding-right: 20px;
}

.table-bordered td {
  Padding-left: 20px;
  padding-right: 20px;
}

/* banner section */

.contact-form-banner {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  border: solid 2px rgba(102, 141, 183, 0.8);
}

.contact-form-banner .contact-td {
  padding: 0;
  width: 50%;
}

.contact-form-banner .contact-td .contact-button-td {
  color: rgb(255, 255, 255);
  background-color: rgba(102, 141, 183, 0.7);
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3px;
  display:block;
  width: 100%;
  padding: 15px;
}

.contact-form-banner .contact-td .contact-button-td:hover {
  background-color: rgba(102, 141, 183, 1);
}

.corona-banner {
  font-size: 18px;
  font-family:'-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";';
}

.corona-banner thead {
  color:rgb(255, 255, 255);
  background-color:rgba(209, 73, 73, 0.8);
}

.corona-banner-table-tr {
  color:rgb(0, 0, 0);
}

/* end region */

.klachten-modal .modal-header {
  background-color:rgba(102, 141, 183, 1);
}

.modal-title, h4{
  color:rgb(255, 255, 255);
}

.klachten td {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.tarieven td {
  padding: 40px;
}

.footer {
  position: fixed;
  margin-top: 20px;
  background-color:rgba(207, 106, 167, 0.4);
  position: absolute;
}

/* span classes */

.span-higlight {
  font-size: 15px;
  font-weight: 900;
  text-decoration: underline;
}

.span-bold{
  font-size: 15px;
  font-weight: 700;
}

.span-contact-form-banner {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* end region */

/* Modal section */

.email-contact-modal-table {
  position: relative;
}

.email-contact-input {
  padding: 0;
}

.page-row {
  padding: 0;
  padding-bottom: 20px;
  min-height: 600px;
}

.page-col {
  padding: 0;
  /* height: 800px; */
}

/* end region */